.ant-input, .ant-input:focus {
  border: none;
  outline: 0;
  border-radius: 0;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#root {
  height: 100%;
}
html {
  overflow: hidden;
}
