
#root {
  height: 100%;
}
html {
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.CodeMirror {
  height: 100%;
  /* overflow-y: hidden; */
}
.CodeMirror-scroll {
  width: 100%;
}

.react-codemirror2  {
  /* position: fixed; */
  /* top: 120px; */
  width: 100%;
  /* right: 0; */
  /* bottom: 0; */
  height: 88vh; /* this number is magic, don't touch it */
}
